In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse','poisson'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_

In [13]:
print("The R_Score value for best parameter{}:".format(grid.best_params_))

The R_Score value for best parameter{'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018926,0.007941,0.003125,0.006250,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.724155,0.646316,0.728784,0.704229,0.676297,0.695956,0.030958,4
1,0.018787,0.007539,0.007850,0.006989,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.754008,0.610795,0.650129,0.719956,0.701233,0.687224,0.050883,9
2,0.015623,0.000002,0.009375,0.007655,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.763930,0.259336,0.705295,0.397399,0.728795,0.570951,0.203680,23
3,0.015623,0.000002,0.006249,0.007654,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.578811,0.536759,0.605072,0.663570,0.741335,0.625109,0.071188,17
4,0.015623,0.000002,0.009375,0.007654,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.609572,0.655217,0.693195,0.651491,0.734152,0.668725,0.042091,12
5,0.012499,0.006250,0.009374,0.007654,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.578551,0.461925,0.705719,0.721844,0.589939,0.611596,0.094843,19
6,0.068360,0.010134,0.009566,0.006114,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.746920,0.561573,0.700069,0.713469,0.745946,0.693595,0.068485,6
7,0.048094,0.007189,0.004725,0.006269,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.713324,0.651719,0.719507,0.730484,0.700392,0.703085,0.027463,3
8,0.031150,0.008700,0.003125,0.006250,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.494146,0.498509,0.511180,0.705779,0.709686,0.583860,0.101304,21
9,0.034372,0.011691,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.572159,0.619579,0.742775,0.690113,0.670438,0.659013,0.058673,13
10,0.037497,0.007654,0.000000,0.000000,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.742188,0.550572,0.598445,0.749445,0.570958,0.642322,0.085889,15
11,0.031247,0.009881,0.003124,0.006248,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.692555,0.663855,0.700820,0.639989,0.729307,0.685305,0.030800,10
12,0.009374,0.007654,0.009375,0.007655,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.715205,0.643325,0.733352,0.751118,0.673271,0.703254,0.039573,2
13,0.013102,0.006654,0.005237,0.006611,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.722295,0.614456,0.714056,0.722070,0.679651,0.690506,0.041141,7
14,0.015624,0.000002,0.006853,0.008447,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.763484,0.554551,0.755420,0.724976,0.639562,0.687598,0.079705,8
15,0.009044,0.007409,0.011097,0.006665,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.708929,0.538519,0.666272,0.746683,0.717141,0.675509,0.073167,11
16,0.013704,0.003851,0.003014,0.006028,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.805219,0.616927,0.707019,0.646618,0.740768,0.703310,0.067050,1
17,0.005751,0.007446,0.006433,0.007992,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.651185,0.636863,0.640224,0.710913,0.599469,0.647731,0.036076,14
18,0.016510,0.002071,0.008927,0.007305,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.707602,0.645470,0.709320,0.719975,0.692813,0.695036,0.026251,5
19,0.006323,0.007745,0.010641,0.007102,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.621070,0.545379,0.652906,0.591463,0.746222,0.631408,0.067451,16
20,0.009465,0.007824,0.006707,0.008265,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.714800,0.501516,0.627410,0.567544,0.568713,0.595997,0.071529,20
21,0.010293,0.008453,0.006933,0.008509,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.666192,0.559554,0.581867,0.637196,0.618027,0.612567,0.038118,18
22,0.013961,0.004271,0.002446,0.004893,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.567205,0.515925,0.614619,0.597228,0.605312,0.580058,0.035792,22
23,0.017182,0.001118,0.000000,0.000000,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.547329,0.423255,0.551788,0.624954,0.679737,0.565413,0.086414,24

In [16]:
best_r2_score=grid.best_score_

In [17]:
best_r2_score

0.703309998377405

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
childran_input=float(input("childran:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:32
BMI:43
childran:2
sex male 0 or 1:0
smoker yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,childran_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[58571.07448]

C:\Users\new\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"